.hide {
    display: none;
}

.car,
.enemy {
    width: 100px;
    height: 50px;
    margin-top: 50px;
    background: transparent url(../image/player.svg) center / cover no-repeat;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: grey;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}

.start {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    z-index: 200;
    color: white;
    font-size: 1.5rem;
    background: #000;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 1rem 0;
    z-index: 200;
    font-size: 1.5rem;
    color: skyblue;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}